[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "baserater"]
	path = baserater
	url = https://github.com/jeremie-beucler/baserater
